*.cpp linguist-vendored
*.h linguist-vendored
*.cmake linguist-vendored
CMakeLists.txt linguist-vendored
windows/* linguist-vendored
linux/* linguist-vendored
macos/* linguist-vendored
build/* linguist-vendored
